<button ng-click="logOff()">log off</button>
<p>user: {{user.email}}</p>
<p>id: {{user.uid}}</p>
<input type="text" ng-model="dataInput" ng-value="dataInput"></input>
<button ng-click="postData(dataInput)">ADD DATA TO DB</button>

<div ng-if="user.exampledb == 'loading'">
  <h3>loading..</h3>
</div>
<div ng-if="user.exampledb != 'loading'">
<h1 ng-if="user.exampledb.length != 0"> DATA LIST </h1>
<div ng-repeat="data in user.exampledb">
  <h3><span class="dataHeader">data:</span>{{data.data}}</h3>
  <p>key: {{data.key}} </p>
  <p>date added: {{data.date}} </p>
</div>
</div>
<!-- <p>firebaseUser: {{firebaseUser}}</p> -->
